{% extends "catalog.html"%}


{% block content %}
  
{% endblock content %}



{% block pathcat%}
					<li class="breadcrumb-item"><a href="/catalog">Каталог</a></li>
					<li class="breadcrumb-item"><a href="{{ ls.get_absolute_url }}">{{ ls.title }} </a></li>
					<li class="breadcrumb-item"><a href="{{ ls1.get_absolute_url }}">{{ ls1.title }} </a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ls3}}</li>
				  </ol>
				</nav>
				
				</br>
				

					
{% endblock pathcat%}