{% extends "catalog.html"%}


{% block content %}
    <h1>Catalog3</h1>
    {{categ}}
   <h5> {{idcat}}</h5>
{% endblock content %}



{% block pathcat%}
					<li class="breadcrumb-item"><a href="/catalog">Каталог</a></li>
					<li class="breadcrumb-item"><a href="{{ ls.get_absolute_url }}">{{ ls.title }} </a></li>
					<li class="breadcrumb-item"><a href="{{ ls1.get_absolute_url }}">{{ ls1.title }} </a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ls3}}</li>
				  </ol>
				</nav>
				
				</br>
				

					
{% endblock pathcat%}